.header-bg-color {
    background-image: linear-gradient(to bottom right, #1B91F3, #F24AA2);
}

.second-header {
    background-color: #1793F5;
    height: 50px;
    border-radius: 0px 0px 35px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}