<ion-header class="ion-no-border ; header-bg-color">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <ion-buttons slot="start">
                <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
            </ion-buttons>
        </div>
        <div>
            <ion-title style="right: 30px;">Birthday Shout Out</ion-title>
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
            <div style="margin: 10px;">
                <img src="../../assets/image/Sample_Images/11.jpeg" alt="" style="height: 60px;
              width: 60px;
              border-radius: 50%;
              border: 2px solid white;
              object-fit: cover;">
            </div>
            <div>
                <p style="margin: 0px;
              font-family: Fredoka_One;
              font-size: 20px;
              color: white;
              letter-spacing: .5px;">Michael</p>
                <p style="margin: 0px;
              font-family: PT_Sans_Regular;
              font-size: 15px;
              color: white;
              letter-spacing: .5px;">St.Francis School</p>
            </div>
        </div>

        <div style="display: flex;
      align-items: center;
      margin-right: 25px;">
            <img src="../../assets/image/img1.png" alt="" style="height: 30px;">
            <p style="color: white;
          font-family: 'PT_Sans_Bold';
          font-size: 19px;
          letter-spacing: 0.5px;
          margin-left: 10px;">Today</p>
        </div>
    </div>

</ion-header>

<ion-header class="ion-no-border; second-header">

    <div style="display: flex;">
        <div style="display: flex;
      align-items: center;
      padding: 0px 55px 0px 0px;">
            <img src="../../assets/image/img1.png" alt="" style="height: 30px;">
            <span style="color: white;
          font-family: 'PT_Sans_Bold';
          margin-left: 7px;
          font-size: 19px;">50k</span>
        </div>

        <div style="display: flex;
      align-items: center;
      padding: 0px 55px 0px 0px;">
            <img src="../../assets/image/img1.png" alt="" style="height: 30px;">
            <span style="color: white;
          font-family: 'PT_Sans_Bold';
          margin-left: 7px;
          font-size: 19px;">50k</span>
        </div>

        <div style="display: flex; align-items: center;">
            <img src="../../assets/image/img1.png" alt="" style="height: 30px;">
            <span style="color: white;
          font-family: 'PT_Sans_Bold';
          margin-left: 7px;
          font-size: 19px;">50k</span>
        </div>
    </div>
</ion-header>

<ion-content>

    <div style="margin: 25px 0px 25px 0px;
    text-align: center;">
        <img src="../../assets/image/Sample_Images/birthday-grp-img.jpeg" alt="" style="border-radius: 10%;
        height: 340px;
        width: 80%;
        object-fit: cover;">
    </div>

    <div style="display: flex; align-items: center; justify-content: center; position: relative; bottom: 10px;">
        <img src="../../assets/image/birthday-ic1.png" alt="" style="height: 55px;">
        <img src="../../assets/image/birthday-ic2.png" alt="" style="height: 55px;">
        <img src="../../assets/image/birthday-ic3.png" alt="" style="height: 55px;">
        <img src="../../assets/image/birthday-ic4a.png" alt="" style="height: 55px;">
    </div>

    <div style="text-align: center;
    padding: 0px 30px 0px 30px;">
        <p style="margin: 0px;
        font-family: 'PT_Sans_Italic';">Thank you all for the birthday wishes, You are really made my day!</p>
    </div>

</ion-content>