<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title> Add Contest </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-container">
        <ion-card>

            <ion-item lines="none">
                <ion-input placeholder="Title"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-input placeholder="Contest End"></ion-input>
                <ion-icon name="calendar-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-item lines="none">
                <ion-input placeholder="Upload File"></ion-input>
                <ion-icon name="share-outline" slot="end"></ion-icon>
            </ion-item>

            <ion-textarea placeholder="Contest Details"></ion-textarea>

            <div style="text-align: center;">
                <ion-button class="submit-button" shape="round">SUBMIT</ion-button>
            </div>
        </ion-card>
    </div>

</ion-content>