<ion-content>

    <div>
        <div style="text-align: center;
        padding: 10px 0px 30px 0px;">
            <img src="../../assets/image/logo-black.png" alt="" style="height: 105px;">
        </div>

        <div style="display: flex;
        justify-content: space-around;
        position: relative;
        top: 29px;">
            <div>
                <ion-button fill="clear" style="color: white;
                font-size: 20px;
                font-family: 'PT_Sans_Bold'; --ripple-color: transparent">LOGIN</ion-button>
            </div>
            <div>
                <ion-button fill="clear" style="color: black;
                font-size: 20px;
                font-family: 'PT_Sans_Bold';--ripple-color: transparent">SIGN UP</ion-button>
            </div>
        </div>

        <div style="width: 50%;
        margin-top: -35px;">
            <img src="../../assets/image/login-bg.png" alt="" style="height: 480px;">
        </div>

        <div>

            <div style="
          margin: 40px 20px 20px 20px;
    border-radius: 15px;
    /* box-shadow: 1px 1px 10px 2px lightgrey; */
    background-color: white;
    position: absolute;
    top: 30%;">
                <div class="arrow-right"></div>

                <div style="padding: 40px 20px 20px 20px;">
                    <div style="display: flex;
            align-items: center;
            margin-bottom: 15px;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 10px;">
                        <ion-input placeholder="Email" type="text" style="font-family: 'PT_Sans_Bold';"></ion-input>
                        <img src="../../assets/image/img1.png" alt="" style="height: 25px;">
                    </div>

                    <div style="display: flex;
            align-items: center;
            margin-bottom: 15px;
            border-bottom: 1px solid lightgrey;
            padding-bottom: 10px;">
                        <ion-input placeholder="Password" type="password" style="font-family: 'PT_Sans_Bold';"></ion-input>
                        <img src="../../assets/image/img1.png" alt="" style="height: 25px;">
                    </div>

                    <div style="text-align: end;">
                        <p style="font-family: PT_Sans_Bold;
                        color: grey;
                        position: relative;
                        top: 20px;">Forgot Password?</p>
                    </div>
                </div>
                <div>
                    <img src="../../assets/image/bg-box-bottom.png" alt="" style="border-radius: 0px 0px 15px 15px;
                    position: relative;
                    top: 5px;">
                </div>
                <div style="text-align: center;
                justify-content: center;
                display: flex;">
                    <ion-button style="position: absolute;
                    bottom: -30px;
                    --padding-start: 40px;
                    --padding-end: 40px;
                    height: 45px;
                    --background: #00ADEF;
                    text-transform: none;
                    font-family: 'PT_Sans_Bold';
                    font-size: 20px;" shape="round">Login</ion-button>
                </div>
            </div>


        </div>

        <div style="display: flex;
        align-items: center;
        justify-content: center;">
            <p style="margin: 0px;
            font-family: 'PT_Sans_Regular';
            color: grey;
            font-size: 19px;">Don't have an account?</p>
            <ion-button fill="clear" style="color: #F04CA2;
            font-family: 'PT_Sans_Bold';
            font-size: 20px;">SIGN UP</ion-button>
        </div>
    </div>

</ion-content>