ion-tab-bar {
    --background: url("../../assets/image/tab-bg-menu.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    padding-top: 20px;
    --border: transparent;
}