<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button (click)="gotoPage('terms-and-condition')">Terms and conditions</ion-button>
    <ion-button (click)="gotoPage('notification')">Notification</ion-button>
    <ion-button (click)="gotoPage('privacy-policy')">Privacy Policy</ion-button>
    <ion-button (click)="gotoPage('report-abuse')">Report Abuse</ion-button>
    <ion-button (click)="gotoPage('add-contest')">Add Contest</ion-button>
    <ion-button (click)="gotoPage('facts-and-hacks')">Facts And Hacks</ion-button>
    <ion-button (click)="gotoPage('study-group')">Study Group</ion-button>
    <ion-button (click)="gotoPage('faq')">FAQ</ion-button>
    <ion-button (click)="gotoPage('contest')">Contest</ion-button>
    <ion-button (click)="gotoPage('contest-view')">Contest View</ion-button>
    <ion-button (click)="gotoPage('tell-me-a-secrete')">Tell Me a Secrete</ion-button>
    <ion-button (click)="gotoPage('tell-me-a-secrete-view')">Tell Me a Secret View</ion-button>
    <ion-button (click)="gotoPage('contest-view')">Contest View</ion-button>
    <ion-button (click)="gotoPage('contact-us')">Contact Us</ion-button>
    <ion-button (click)="gotoPage('facts-and-hacks-view')">Facts and Hacks View</ion-button>
    <ion-button (click)="gotoPage('birthday-shout-out')">Birthday Shout Out</ion-button>
    <ion-button (click)="gotoPage('study-group-list')">Study Group List</ion-button>
    <ion-button (click)="gotoPage('birthday-shout-out-default')">Birthday Shout Out Default</ion-button>
    <ion-button (click)="gotoPage('profile')">Profile</ion-button>

    <ion-button (click)="gotoPage('birthday-wish-add')">Birthday Wish Add</ion-button>
    <ion-button (click)="gotoPage('visitors-home-view')">Visitor Home View</ion-button>
    <ion-button (click)="gotoPage('birthday-detail')">Birthday Detail</ion-button>
    <ion-button (click)="gotoPage('bulletin-board')">Bulletin Board</ion-button>
    <ion-button (click)="gotoPage('contest-detail')">Contest Detail</ion-button>
    <ion-button (click)="gotoPage('contest-expired')">Contest Expired</ion-button>
    <ion-button (click)="gotoPage('learning-curve')">Learning Curve</ion-button>
    <ion-button (click)="gotoPage('study-group-chat')">Study Group Chat</ion-button>

    <ion-button (click)="gotoPage('login')">Login</ion-button>
    <ion-button (click)="gotoPage('register')">Register</ion-button>


    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>