ion-header {
    background: url(../../assets/image/bg-home.png);
    background-repeat: no-repeat;
    background-position: unset;
    height: 160px;
    background-size: cover;
}

.second-header {
    height: auto;
    background: white;
}

// .tab-header {
//     display: flex;
//     background: url(../../assets/image/bg-home.png);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: contain;
// }