<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Study Group</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-container">
        <h4> Create Study Group </h4>

        <ion-input placeholder="Group Name" type="text" autocapitalize="true"></ion-input>

        <ion-textarea placeholder="Additional Information" type="text" autocapitalize="true" autoGrow="true"></ion-textarea>
        <ion-textarea placeholder="Group Rules" type="text" autocapitalize="true" autoGrow="true"></ion-textarea>

        <div style="text-align: center">
            <ion-button shape="round" class="invite-button">Invite</ion-button>

        </div>
    </div>

</ion-content>