ion-content {
    --background: linear-gradient(to right, #8a84ca, #9b94d2);
}

.main-container {
    background-image: url(../../assets/image/tell-me-view-bg.png);
    border-radius: 25px 25px 0px 0px;
    padding: 15px;
    background-repeat: round;
}

H3 {
    color: white;
    font-family: Fredoka_One;
}

.looping-container {
    color: white;
    padding: 10px 15px 10px 10px;
    background-image: linear-gradient(to bottom, #171312, #212121);
    border-radius: 20px;
    margin-top: 20px;
}

.sub-container {
    display: flex;
    justify-content: space-between
}

ion-thumbnail {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.user-profile-img {
    border-radius: 10px;
}

.sub-inner-container {
    position: relative;
    right: 30px;
}

.user-name-text {
    margin: 0px;
    font-family: Fredoka_One;
}

.user-colg-name-text {
    font-size: 13px;
    margin-top: 7px;
    color: #9e9e9e;
    font-weight: 500;
    font-family: Fredoka_One;
}

.bottom-small-icons {
    height: 14px;
    margin-right: 5px;
}

.icons-text {
    margin-right: 45px;
}

.right-end-forward-icon {
    color: lightgrey;
    font-weight: 600;
    font-size: 1.8rem;
    position: relative;
    top: 25px;
}