<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Tell Me a Secrete</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-container">
        <H3 style="color: white;">Know Others Secretes</H3>

        <div *ngFor="let secrete of OthersSecrete; let i = index;" class="looping-container">
            <div class="sub-container">
                <ion-thumbnail>
                    <img [src]="secrete.img" alt="" class="user-profile-img">
                </ion-thumbnail>
                <div class="sub-inner-container">
                    <p class="user-name-text"> {{secrete.name}} </p>
                    <p class="user-colg-name-text"> {{secrete.school}} </p>
                    <div style="display: flex;">
                        <img src="../../assets/image/ic-2.png" alt="" class="bottom-small-icons"> <span class="icons-text"> {{secrete.like_count}} </span>
                        <img src="../../assets/image/ic-1.png" alt="" class="bottom-small-icons"> <span class="icons-text"> {{secrete.comment_count}} </span>
                    </div>
                </div>
                <ion-icon name="chevron-forward" class="right-end-forward-icon"></ion-icon>
            </div>
        </div>

    </div>

</ion-content>