<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Terms & Conditions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-container">
        <h3> Terms of Service </h3>
        <p class="last-update-p"> Last Updated on August 2020 </p>

        <div style="padding-top: 20px;" *ngFor="let content of PageContent">
            <h5>1. Terms</h5>
            <p class="page-contents"> {{content.text}} </p>
            <p class="page-contents"> {{content.text}} </p>
            <h5>2. User Licence</h5>
            <p class="page-contents"> {{content.text}} </p>
            <p class="page-contents"> {{content.text}} </p>
            <p class="page-contents"> {{content.text}} </p>

            <div class="button-container">
                <ion-button fill="clear" class="decline-button">Decline</ion-button>
                <ion-button class="accept-button">Accept</ion-button>
            </div>

        </div>

    </div>

</ion-content>