<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button style="color: white" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title>Tell Me a Secrete</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="main-container">

        <div style="text-align: center;">

            <ion-item lines="none">
                <img src="../../assets/image/btn.png" alt="" slot="start" style="height: 35px">
            </ion-item>
            <H2>Enter your Secrete</H2>

            <ion-card>
                <ion-card-content>
                    <ion-textarea type="text" [(ngModel)]="secrete" autocapitalize="true" autoGrow="true"></ion-textarea>
                </ion-card-content>
                <div style="float: right;">
                    <img src="../../assets/image/img1.png" alt="" class="card-bottom-small-icons" (click)="MediaIcons('image')">
                    <img src="../../assets/image/img2.png" alt="" class="card-bottom-small-icons" (click)="MediaIcons('video')">
                    <img src="../../assets/image/img3.png" alt="" class="card-bottom-small-icons" (click)="MediaIcons('audio')">
                </div>

            </ion-card>

            <ion-button shape="round" class="proceed-button" (click)="ToProceed()"> PROCEED </ion-button>
        </div>

        <div class="toggle-container">
            <ion-item lines="none">
                <H5 slot="start" class="toggle-text"> Make My Secrete Public </H5>
                <ion-toggle slot="end" [(ngModel)]="isToggled[0]" (ionChange)="ToggleSubmit('secrete-public', 0)"></ion-toggle>
            </ion-item>

            <ion-item lines="none">
                <H5 slot="start" class="toggle-text"> Reveal My Identity </H5>
                <ion-toggle slot="end" [(ngModel)]="isToggled[1]" (ionChange)="ToggleSubmit('reveal-identity', 1)"></ion-toggle>
            </ion-item>

            <ion-item lines="none">
                <H5 slot="start" class="toggle-text"> Talk to a Counsellor </H5>
                <ion-toggle slot="end" [(ngModel)]="isToggled[2]" (ionChange)="ToggleSubmit('talk-counsellor', 2)"></ion-toggle>
            </ion-item>

            <ion-button shape="round" class="enter-button" (click)="ToEnterSubmission()"> ENTER </ion-button>
        </div>

    </div>

</ion-content>