ion-content {
    --background: linear-gradient(to right, #8a84ca, #9b94d2);
}

.main-container {
    background-image: url(../../assets/image/tell-me-bg.png);
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
    background-repeat: round;
    height: -webkit-fill-available;
}

ion-item {
    --background: transparent
}

H2 {
    color: white;
    font-weight: 600;
}

ion-card {
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px;
}

.card-bottom-small-icons {
    height: 35px;
    margin-right: 10px;
}

.proceed-button {
    --background: linear-gradient(to bottom, #8FDCFA 10%, #10B0EE 90%);
    width: 150px;
    font-weight: 600;
    font-size: 16px;
}

.toggle-container {
    text-align: center;
    margin-top: 40px;
}

.enter-button {
    --background: linear-gradient(to bottom, #F779BB 10%, #F14CA4 90%);
    width: 150px;
    font-weight: 600;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
}

.toggle-text {
    font-weight: 600;
}

ion-toggle {
    --background: #F14CA4;
    --background-checked: #10B0EE;
    --handle-background: #F779BB;
    --handle-background-checked: #8FDCFA;
    height: 27px;
    width: 55px;
    --handle-spacing: 5px;
    --handle-height: 70%;
}