.header-img-container {
    background: url(../../assets/image/Sample_Images/profile-header-bg-2.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 225px;
    background-position: unset;
}

.container {
    background: url(../../assets/image/curver-profile.png);
    position: relative;
    bottom: -154px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: unset;
}

.second-header-bg-img {
    background: url(../../assets/image/curver-profile.png);
}