.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white;
    position: absolute;
    transform: rotate( 270deg);
    top: -8%;
    right: 15%;
}

.login-bg-container {
    background-image: url(../../assets/image/login-bg.png);
    background-position: center;
    height: 450px;
    background-repeat: no-repeat;
    width: 40%;
    background-size: contain;
}